.create-a-job-form .input-field-col label {
    color: #fa5252;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 11px;
    position: relative;
    padding-right: 34px;
}
.create-a-job-form .input-field-col input,
.create-a-job-form .input-field-col textarea{
	padding: 15px 20px 15px 16px;
}
.input-field-col textarea{
	display: block;
}
.upload-file {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius:6px;
}
.input-field-col-inner{
	position: relative;
}
.upload-file input{
    width: 43px!important;
    height: 40px!important;
}

.upload-file label span{
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    position: absolute;
    top:50%;
}
.upload-file label span i{
	color: #76787c;
}
.upload-file label{
    position: absolute!important;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    cursor: pointer;
    z-index: 2;
    margin-bottom:0!important;
    padding-right:0!important;
}
.form-block {
    border-bottom: 2px solid #e1e1e1;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 12px;
    padding-top: 21px;
}
.myaccount-content.create-a-job-content .myaccount-content-cntlr {
    padding-left: 0;
    padding-right: 0;
}
.form-block .input-field-wrapper {
    max-width: 100%;
}
.create-a-job-content .myaccount-content-cntlr{
	padding-top:10px;
}

.create-a-job-form .input-field-col ul li span {
    background: #e5e5e5;
    font-size: 14px;
    padding: 7px;
    display: inline-block;
    border-radius: 4px;
    color: #616368;
    font-weight: 600;
}

.create-a-job-form .input-field-col ul {
    display: flex;
    margin: 0 -3px;
}

.create-a-job-form .input-field-col ul li {
    padding: 0 3px;
}
.padding-btm-20{
	padding-bottom:20px;
}
.create-a-job-form .back-btn a {
    font-size: 16px;
    color: #76787c;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}
.create-a-job-form .input-field-inner{
	display: flex;
	align-items: center;
}
.create-a-job-form .input-field-inner .submint-btn{
	margin-left: auto;
}