.tol-tip {
    position: absolute;
    height: 24px;
    width: 24px;
    right: 0;
    top: 0;
    cursor: pointer;
}
.edit-job-title{
    text-transform: capitalize;
}
.tol-tip-des{
    position: absolute;
    background: #fff;
    padding-left: 12px;
    padding-top: 20px;
    box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.22);
    padding-right:12px;
    border-radius: 8px;
    left: 0px;
    top: 35px;
    opacity: 0;
    z-index:-1;
    transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    cursor: text;
    width:395px;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    height:auto;
}
.tol-tip.tol-tip-cntlr+.tol-tip-des{
    width:395px;
    opacity:1;
    height:auto;
    transform:translateY(0px);
    -ms-transform:translateY(0px);
    -webkit-transform:translateY(0px);
    z-index:11;
}
.fl-minwidth-btn {
    min-width: 286px!important;
}
.tol-tip.tol-tip-cntlr:after {
    content: "\f0de";
    position: absolute;
    left: -4px;
    font-family: 'Font Awesome 5 Free';
    top: 100%;
    font-size: 50px;
    color: #fff;
    margin-top: 8px;
    z-index: 1111;
}
.tol-tip-des p{
    color: #616368;
    font-size: 16px;
    font-weight: 400;
}
.tol-tip-des strong{
    font-style:italic;
    color: #616368;
    font-size: 16px;
}
.tol-tip i {
    color: #c6c6c6;
}
.tol-tip-des h6{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    color:#2b2b2b;
    padding-left:22px;
    margin-bottom: 11px;
}
.tol-tip-des h6:after {
    content: "\f5c3";
    position: absolute;
    left: 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    top: 0;
    color: #fa5252;
}
.my-account-sec .back-btn ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}
.my-account-sec .back-btn ul li{
    padding: 0 8px;
    position: relative;
}
.my-account-sec .back-btn ul li:after{
    position: absolute;
    content: "/";
    right: 0;
    top: 50%;
    transform: translate(50% , -50%);
    -ms-transform: translate(50% , -50%);
    -webkit-transform: translate(50% , -50%);
}
.my-account-sec .back-btn ul li:last-child:after{
    content: none;
    display: none;
}
@media(max-width:1199px){
    .tol-tip{
        top:1px;
    }
   
}
@media(max-width:767px){
 
    .tol-tip-des p{
        font-size:14px;
    }
    .tol-tip-des h6,
    .tol-tip-des strong{
        font-size:15px;
    }
    .tol-tip.tol-tip-cntlr:after{
        left:-6px;
    }
    .tol-tip.tol-tip-cntlr+.tol-tip-des,
    .tol-tip-des{
        width:300px;
    }
}
@media(max-width:575px){
   .tol-tip.tol-tip-cntlr+.tol-tip-des,
   .tol-tip-des{
    width:250px;
   }

}
@media(max-width:479px){
    button.full-width-btn.fl-minwidth-btn {
        min-width: 242px!important;
    }
}