.tol-tip {
    position: absolute;
    height: 24px;
    width: 24px;
    right: 0;
    top: 0;
    cursor: pointer;
}

.tol-tip-des{
    position: absolute;
    width:0px;
    height:0px;
    background: #fff;
    padding-left: 12px;
    padding-top: 20px;
    box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.22);
    padding-right:12px;
    border-radius: 8px;
    left: -10px;
    top: 35px;
    /*display: none;*/
    opacity: 0;
    z-index:-1;
    /*transform: translateY(-10px);*/
    /*-ms-transform: translateY(-10px);*/
    /*-webkit-transform: translateY(-10px);*/
}
.tol-tip.tol-tip-cntlr .tol-tip-des{
    width:395px;
    opacity:1;
    height:auto;
    transform:translateY(0px);
    transition:.2s;
    z-index:2;
}

.tol-tip-des p{
    color: #616368;
    font-size: 16px;
    font-weight: 400;
}
.tol-tip-des strong{
    font-style:italic;
    color: #616368;
    font-size: 16px;
}
.tol-tip i {
    color: #c6c6c6;
}
.tol-tip-des h6{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    color:#2b2b2b;
    padding-left:22px;
}
.tol-tip-des h6:after {
    content: "\f5c3";
    position: absolute;
    left: 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    top: 0;
    color: #fa5252;
}