header.header{
	padding: 15px 0;
    border-bottom: 1px solid #aaaaaa;
}

body.home header.header{
    border-bottom: none;
    padding: 60px 0;
}

header.header.border-none{
    border-bottom: none;
}

.header-inr{
	display: flex;
	align-items: center;
}
.hdr-rgt{
    display: flex;
    align-items: center;
	margin-left: auto;
}

.logo a{
	display: inline-block;
	vertical-align: baseline;
}



nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-right: -2px;
	margin-left: -2px;
}
nav.main-nav > ul > li{
	padding: 10px 2px;
	position: relative;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 20px;
	font-weight: 500;
	color: #4f4f4f;
	text-decoration: none;
    padding: 7px 15px;
    text-transform: capitalize;
}
nav.main-nav > ul > li.menu-btn > a{
    background: #fa5252;
    border-radius: 10px;
    color: #fff;
    padding: 7px 35px;
    position: relative;
}
nav.main-nav > ul > li.menu-btn > a i{
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
}
nav.main-nav > ul > li.menu-btn > a:hover{
    background: #4f4f4f;
    color: #fff;
}

nav.main-nav > ul > li.current-menu-item > a,
nav.main-nav > ul > li > a:hover{
	color: #fa5252;
}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: -9999;
    width: 200px;
    padding: 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    border-bottom: 1px solid #fa5252;
    position: relative;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	border-bottom: 0;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a {
    font-size: 16px;
    display: block;
    padding: 10px 19px;
    text-decoration: none;
    color: #4f4f4f;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover{
	color: #fa5252;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    background: #fa5252;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu > li:hover:after {
    height: 100%;
}



.profile-ctlr{
    margin-left: 18px;
}
.profile{
    height: 58px;
    width: 58px;
    background: #ffd8d8;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

