
.hm-page-banner{
	padding: 40px 0 145px;
	background-repeat: no-repeat!important;
	background-position: bottom center!important;
}



.hm-page-bnr-des-ctlr{
	max-width: 930px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.hm-page-bnr-des{
	padding: 35px 48px 50px 48px;
	border-radius: 8px;
	border-bottom: 14px solid #7a92d0;
	-webkit-box-shadow: 0px 0px 18px 1px #e9e9e9; 
	box-shadow: 0px 0px 18px 1px #e9e9e9;
	background: #fff;
	position: relative;
	z-index: 9;
}


.hm-page-bnr-title{
	margin-bottom: 8px;
	font-weight: 700;
}

.hm-page-bnr-subtitle{
	color: #828282;
	margin-bottom: 30px;
}

.hm-page-bnr-input-field{
	display: flex;
	padding-right: 85px;
}

.input-col-1{
	width: 73%;
	position: relative;
}
.input-col-2{
	width: 27%;
}
.hm-page-bnr-input-field-row{
	margin-bottom: 15px;
}

.hm-page-bnr-input-field-row input[type=text]{
	border: 2px solid #c6c6c6;
	border-radius: 5px;
	padding: 12px 10px 12px;
	font-size: 25px;
	font-weight: 500;
	color: #2b2b2b;
	width: 100%;
	position: relative;
}
.hm-page-bnr-input-field-row.input-col-1 input[type=text]{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.hm-page-bnr-input-field-row.input-col-2 input[type=text]{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
}

.hm-page-bnr-btn input[type=submit]{
	display: inline-block;
	vertical-align: baseline;
	padding: 21px 20px;
	background: #fa5252;
	border: 2px solid #fa5252;
	border-radius: 8px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	max-width: 168px;
	width: 100%;
	cursor: pointer;
}
.hm-page-bnr-btn input[type=submit]:hover{
	background: #fff;
	color: #fa5252;
}


.hm-page-bnr-input-field-row.input-col-1 label{
	position: absolute;
	top: 50%;
	left: 10px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 9;
}





.service-sec{
	padding: 50px 0 25px;
	background-repeat: no-repeat!important;
	background-position: left bottom!important;
}

.service-grds > ul > li{
	padding-right: 30px;
	padding-bottom: 25px;
}
.service-grds > ul > li:nth-child(2n+2){
	padding-right: 0;
	padding-left: 30px;
}
.service-grds > ul > li:nth-child(2n+2) .service-grd-item-img-ctlr{
	order: 2;
}
.service-grds > ul > li:nth-child(2n+2) .service-grd-item-des-ctlr{
	order: 1;
}
.service-grd-item{
	display: flex;
	flex-wrap: wrap;
	background: #f2f2f2;
}
.service-grd-item-img-ctlr{
	width: 55%;
}
.service-grd-item-des-ctlr{
	width: 45%;
}

.service-grd-item-img{
	height: 100%;
	border-radius: 10px;
}
.service-grd-item-img img{
	display: none;
}

.service-grd-item-des{
	background: #f2f2f2;
	padding: 20px 30px 25px 35px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.service-grd-item-des-title{
	padding-left: 50px;
	position: relative;
}
.service-grd-item-des-title i{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -2px;
}
.service-grd-item-des ul{
	display: flex;
	flex-wrap: wrap;
}
.service-grd-item-des ul li{
	width: 50%;
}


.service-grd-item-des-btn{
	padding-top: 15px;
	text-align: right;
}
.service-grd-item-des-btn a{
	display: inline-block;
	vertical-align: baseline;
	padding: 5px 38px 5px 10px;
	font-size: 24px;
	font-weight: 600;
	color: #fa5252;
	background: #fedada;
	border-radius: 10px;
	text-transform: capitalize;
	text-decoration: none;
	position: relative;
}
.service-grd-item-des-btn a i{
	position: absolute;
	top: 50%;
	right: 10px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 20px;
}




.hire-professional-sec{
	padding: 60px 0;
}

.hire-professional-intro{
	display: flex;
	align-items: center;
	padding-bottom: 40px;
}

.hire-pro-intro-img{
	order: 2;
	width: 30%;
}
.hire-professional-intro-des{
	order: 1;
	padding-right: 20px;
	width: 70%;
}

.hire-pro-grds{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.hire-pro-grd-item{
	width: 33.3333%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}



.hire-pro-grd-item-img{
	margin-bottom: 30px;
}

.hire-pro-grd-item-des-title{
	font-size: 20px;
	margin-bottom: 12px;
}

.hire-pro-grd-item-01 .hire-pro-grd-item-des-title{
	color: #b05bd7;
}
.hire-pro-grd-item-02 .hire-pro-grd-item-des-title{
	color: #5b5bd7;
}
.hire-pro-grd-item-03 .hire-pro-grd-item-des-title{
	color: #4cbd64;
}