.rocking-rolling-sec{
	background: #f5f7fa;
}
.rocking-rolling-cntlr{

}
.rking-rling-lft{
	width: 65%;
}
.rking-rling-rgt{
	width: 35%;
}
.rking-rling-decs-cntlr{
	max-width: 550px;
	width: 100%;
}
.rking-rling-decs-title{

}
.rking-rling-decs{
	margin-bottom: 22px;
}
.rking-rling-decs p:last-of-type{
	margin-bottom: 0;
}