.how-it-works-cat-grid-item-sec{
	background: #fff0f0;
	position: relative;
	padding-top: 42px;
	padding-bottom: 35px;
}
.how-it-works-top-cloud{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	background-repeat: repeat-x;
}
.how-it-works-cat-grids-cntlr{
	display: flex;
	justify-content: center;
}
.how-it-works-cat-grids-cntlr{
	margin: 0 -28px;
}
.how-it-works-cat-grid-item{
	padding: 0 28px;
	width: 33%;
}
.how-it-works-cat-grid-item-cntlr{
	background: #fff;
	padding: 15px;
	position: relative;
	z-index: 99;
	border-radius: 10px;
}
.how-it-works-cat-grid-item-cntlr i{
	display: inline-block;
	display: flex;
    align-items: flex-end;
    height: 66px;
    margin-bottom: 25px;
}
.how-it-works-cat-grid-item-cntlr h6{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 15px;
}
.how-it-works-cat-item-list li{
	padding-bottom: 12px;
	font-size: 15px;
}
.how-it-works-cat-item-list li:before{
	background-image: url('../images/how-cat-list-icon.png');
	margin-top: 0;
	padding-bottom: 10px;
}

.pricing-plans-sec{
	padding: 60px 0;
}
.pricing-plans-sec-entry-hdr{
	padding-bottom: 18px;
}
.pricing-plans-sec-innr{
	max-width: 760px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.prising-mnthly-yearly{
	display: flex;
}
.prising-mnthly-yearly{
	margin: 0 -35px;
}
.prising-col{
	padding: 0 35px;
}
.prising-mnthly-cntlr,
.prising-yearly-cntlr{
	box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 25%);
	-webkit-box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 25%);
	-moz-box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 25%);
	border-bottom: 18px solid #7a92d0;
	border-radius: 10px;
	padding: 25px 40px 19px 23px;
}
.try-free-for-1-month-btn{
	text-align: center;
}
.try-free-for-1-month-btn .fl-btn{
	font-size: 17px;
}
.prising-title{
	margin-bottom: 15px;
}
.price{
	display: inline-block;
	vertical-align: baseline;
	font-size: 36px;
	color: #fa5252;
	font-weight: 900;
	padding-bottom: 22px;
	
}
.prising-list {
    min-height: 259px;
     padding-bottom: 25px; 
    display: flex;
    /* align-items: center; */
}
.prising-list li:last-of-type{
	padding-bottom: 0;
}