header{
	display: none;
}
footer{
	display: none;
}
.how-it-works-grids-sec{
	background: #fff0f0;
	position: relative;
	padding-top: 42px;
	padding-bottom: 35px;
}
.how-it-works-top-cloud{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	bottom: 0;
	background-repeat: repeat-x;
}
.how-it-works-grids-cntlr{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.how-it-works-grids-cntlr{
	margin: 0 -24px;
}
.how-it-works-grid-item{
	padding: 0 24px;
	width: 33%;
}
.how-it-works-grid-item-cntlr{
	background: #fff;
	padding: 15px;
	position: relative;
	z-index: 99;
	border-radius: 10px;
}
.how-it-works-grid-item-cntlr i{
	display: inline-block;
    margin-bottom: 23px;
}
.how-it-works-grid-item-cntlr i img{
	max-height: 52px;
	width: auto;
}
.how-it-works-grd-img-ttl{
	font-weight: 700;
	margin-bottom: 15px;
}
.how-it-works-cat-item-list li{
	padding-bottom: 12px;
}
.how-it-works-cat-item-list li:before{
	background-image: url('../images/how-cat-list-icon.png');
	margin-top: 0;
	padding-bottom: 10px;
}

.pricing-plans-sec{
	padding-top: 60px;
	padding-bottom: 15px;
}
.pricing-plans-sec-entry-hdr{
	padding-bottom: 18px;
}
.pricing-plans-sec-innr{
	max-width: 760px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.bl-pkg-grids-cntlr > ul{
	display: flex;
	margin: 0 -35px;
	flex-wrap: wrap;
}
.bl-pkg-grid-item-col{
	padding-left: 35px!important;
	padding-right: 35px!important;
	width: 50%;
	padding-bottom: 45px!important;
}
.bl-pkg-grid-item-cntlr{
	box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 25%);
	-webkit-box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 25%);
	-moz-box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 25%);
	border-bottom: 18px solid #7a92d0;
	border-radius: 10px;
	padding: 25px 40px 19px 23px;
}
.fl-pkg-grd-ftr-btn{
	text-align: center;
}
.fl-pkg-grd-ftr-btn .fl-btn{
	min-width: 238px;
	padding: 13.3px 13px 14.3px;
}
.fl-pkg-grd-ftr-btn .fl-btn{
	font-size: 17px;
}
.bl-pkg-grd-hdr .prising-title{
	margin-bottom: 10px;
}
.bl-pkg-grd-hdr{
	padding-bottom: 20px;
}
.price{
	display: inline-block;
	vertical-align: baseline;
	font-size: 36px;
	color: #fa5252;
	font-weight: 900;
	line-height: 1;
	
}
.bl-pkg-grd-desc {
    min-height: 259px;
    padding-bottom: 25px; 
    display: flex;
}
.bl-pkg-grd-desc li:last-of-type{
	padding-bottom: 0;
}

@media(max-width: 1199px){
	.how-it-works-grids-cntlr{
		margin: 0 -15px;
	}
	.how-it-works-grid-item{
		padding: 0 15px;
	}
	.pricing-plans-sec{
		padding-top: 50px;
	}
	.bl-pkg-grids-cntlr > ul{
		margin:  0 -30px;
	}
	.bl-pkg-grid-item-col{
		padding-left: 30px!important;
		padding-right: 30px	!important;
	}
	.price{
		font-size: 34px;
	}
}
@media(max-width: 991px){
	.how-it-works-grid-item-cntlr i img{
        max-height: 50px;
	}
	.how-it-works-grid-item-cntlr{
		padding: 12px;
	}
	.how-it-works-grid-item-cntlr i{
		margin-bottom: 16px;
	}
	.how-it-works-grid-item-cntlr i img{
		max-height: 40px;
	}
	.how-it-works-grd-img-ttl{
		margin-bottom: 13px;
	}
	.bl-pkg-grids-cntlr > ul{
		margin: 0 -15px;
	}
	.bl-pkg-grid-item-col{
		padding-left: 15px!important;
		padding-right: 15px!important;
	}
	.bl-pkg-grid-item-cntlr{
		padding: 22px 35px 18px 18px!important;
	}
	.bl-pkg-grd-desc{
		min-height: 297px;
	}
	.bl-pkg-grd-hdr{
		padding-bottom: 18px;
	}
	.price{
		font-size: 30px;
	}

}
@media(max-width: 767px){
	.how-it-works-grids-sec{
		padding-bottom: 20px;
	}
	.pricing-plans-sec{
		padding-top: 40px;
	}
	.how-it-works-grid-item-cntlr{
		padding: 15px;
	}
	.how-it-works-grid-item-cntlr i{
		margin-bottom: 10px;
	}
}
@media(max-width: 639px){
	.bl-pkg-grids-cntlr > ul{
		margin: 0;
	}
	.bl-pkg-grid-item-col{
		width: 100%;
		max-width: 420px;
		margin-left: auto!important;
		margin-right: auto!important;
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.bl-pkg-grid-item-cntlr{
		padding: 22px 21px 19px 18px!important;
	}
}
@media(max-width: 575PX){
	.how-it-works-grids-sec{
		padding-bottom: 10px;
	}
	.how-it-works-grid-item-cntlr{
		max-width: 320px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.how-it-works-grid-item-cntlr ul li{
		text-align: left;
	}
}