.job-content-sec{
	padding-top: 50px;
	padding-bottom: 125px;
}
.job-content-cntlr{
	padding: 0 14px;
}
.posting-job-module-cntlr{
	margin-bottom: 50px;
}
.job-cntnt-mdul-hdr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 12px;
}
.job-cntnt-mdul-title{
	margin-bottom: 0;
}
.job-cntnt-mdul-hdr > span{
	margin-left: auto;
	padding-left: 10px;
}
.job-cntnt-mdul-hdr span a{
	display: inline-block;
	text-decoration: none;
	color: #fa5252;
	font-weight: 500;
}
.job-cntnt-mdul-hdr span a:hover{
	color: #2b2b2b;
}
.posting-job-mdul .company-item-lft{
	width: 88px;
	height: 88px;
}
.active-job-module-cntlr .job-cntnt-item-lft {
    padding-left: 13px;
}
.job-cntnt-mdul-inr{
	border-bottom: 18px solid #7a92d0;
    box-shadow: 0px 0px 30px -4px rgb(0 0 0 / 27%);
    -moz-box-shadow: 0px 0px 30px -4px rgb(0 0 0 / 27%);
    -webkit-box-shadow: 0px 0px 30px -4px rgb(0 0 0 / 27%);
    border-radius: 11px;
}
.job-cntnt-item{
	padding: 18px 20px;
	border-bottom: 2px solid #e1e1e1;
	display: flex;
	flex-wrap: wrap;
}
.job-cntnt-item:last-of-type{
	border-bottom: none;
}
.job-cntnt-item-lft{

}
.job-cntnt-item-title{
	margin-bottom: 8px;
	line-height: 1.25;
}
.job-cntnt-item-title a{
	display: inline-block;
	text-decoration: none;
	color: #2b2b2b;
}
.job-cntnt-item-title a:hover{
	color: #fa5252;
}
.job-cntnt-item-details{
	margin-bottom: 10px;
}
.job-cntnt-item-details ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -9px;
}
.job-cntnt-item-details ul li{
	padding: 0 9px;
}
.job-cntnt-item-dtls-edinburgh .job-cntnt-item-dtls-col span{
	padding-left: 15px;
}
.job-cntnt-item-dtls-col span{
	position: relative;
	padding-left: 22px;
	color: #2b2b2b;
	font-weight: 500;
}
.job-cntnt-item-dtls-col span i{
	position: absolute;
	top: 50%;
	left: 0;
    color: #fa5252;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.job-cntnt-item-create-date{

}
.job-cntnt-item-create-date span{
	color: #616368;
	display: inline-block;
	line-height: 1;
}
.job-cntnt-item-rgt{
	margin-left: auto;
}
.job-cntnt-item-copy{
	text-align: right;
	margin-bottom: 7px;
}
.job-cntnt-item-copy a{
	display: inline-block;
	color: #000000;
	font-size: 20px;
}
.job-cntnt-item-copy a:hover{
	color: #fa5252;
}
.job-cntnt-item-copy a i{
	transition: all 0s;
	-ms-transition: all 0s;
	-webkit-transition: all 0s;
}
.job-cntnt-item-copy a img{
	display: inline-block;
	max-height: 23px;
	height: auto;
}
.offer-contacted-cntlr{
	display: flex;
	flex-wrap: wrap;
	
	margin: 0 -14px;
}
.job-cntnt-item-offer{
	padding: 0 14px;
}
.job-cntnt-item-offer-title{
	display: inline-block;
	color: #616368;
	line-height: 1;
	margin-bottom: 9px;
}
.job-cntnt-item-ofr-cunt{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.job-cntnt-item-ofr-cunt strong{
	color: #2b2b2b;
	font-weight: 500;
	display: inline-block;
	line-height: 1;
}
.job-cntnt-item-ofr-cunt a,
.job-cntnt-item-ofr-cunt span{
	color: #7a92d0;
	font-weight: 500;
	display: inline-block;
	line-height: 1;
	padding-left: 5px;
	text-decoration: none;
}
.job-cntnt-item-ofr-cunt a:hover{
	color: #fa5252;
}
.job-cntnt-item-cntcted{
	padding: 0 0 0 14px;
}
.job-cntnt-item-cntcted-title{
	display: inline-block;
	color: #616368;
	line-height: 1;
	width: 100%;
}
.job-cntnt-item-cntcted strong{
	color: #2b2b2b;
	font-weight: 500;
	display: inline-block;
	line-height: 1;
}

.active-job-module-cntlr{
	margin-bottom: 25px;
}
.job-cntnt-item-pro-msg{

}
.job-cntnt-item-pro-msg ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -5px;
}
.job-cntnt-item-pro-msg ul li{
	padding: 0 5px;
}
.job-cntnt-pro-msg-item {

}
.job-cntnt-pro-msg-item a {
    padding: 6px 5px 6px 30px;
    display: inline-block;
    position: relative;
    background: #ecf1ff;
    border-radius: 3px;
    color: #7a92d0;
    min-width: 110px;
    text-decoration: none;
    font-weight: 500;
    line-height: 1;
    text-align: left;
}
.job-cntnt-pro-msg-item a:hover{
	background: #dce3f7;
}
.job-cntnt-msg-item.job-cntnt-pro-msg-item a{
	padding-left: 33px;
}
.job-cntnt-pro-msg-item a i {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    display: inline-block;
    line-height: 1;
}
.job-cntnt-msg-item.job-cntnt-pro-msg-item a i{
	margin-top: 1px;
}
.active-job-module-cntlr .job-cntnt-item-copy{
	margin-bottom: 25px;
}

.export-job-list-cv{
	text-align: center;
}
.export-job-list-cv a{
	display: inline-block;
	color: #bcbcbc;
	font-weight: 600;
	text-decoration: none;
}
.export-job-list-cv a:hover{
	color: #fa5252;
}
.job-cntnt-item-dtls-col-pl22 span{
	padding-left: 22px!important;
}
.expend-module{
	display: none;
	padding-bottom: 15px;
}
.job-cntnt-item.expended .job-cntnt-item-copy a{
	color: #fa5252;
}
@media (max-width: 1199px){
	.job-content-sec {
	    padding-bottom: 100px;
	}
}
@media (max-width: 991px){
	.job-content-sec {
		padding-top: 40px;
	    padding-bottom: 80px;
	}
	.active-job-module-cntlr .posting-job-mdul .job-cntnt-item-copy{
	    position: absolute;
	    top: 30px;
	    right: 20px;
	}
	.active-job-module-cntlr .job-cntnt-item-rgt{
		width: 100%;
		padding-top: 20px;
	}
	.active-job-module-cntlr .job-cntnt-item-rgt .job-cntnt-item-pro-msg ul{
		justify-content: flex-end;
	}
}
@media (max-width: 767px){
	.job-cntnt-item-create-date {
	    padding-bottom: 15px;
	}

	.job-cntnt-item-title{
		padding-right: 30px;
	}
	.job-cntnt-item{
		padding: 30px 20px;
	}
	.job-content-sec {
		padding-top: 50px;
	    padding-bottom: 60px;
	}
	.active-job-module-cntlr .job-cntnt-item-rgt {
	    padding-top: 15px;
	}
	.posting-job-mdul .company-item-lft{
		margin-bottom: 20px;
	}
	.job-content-cntlr{
		max-width: 500px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (max-width: 639px){
	.active-job-module-cntlr .job-cntnt-item-lft{
		width: 100%;
		padding-left: 0;
	}
	.active-job-module-cntlr .job-cntnt-item-rgt {
	    padding-top: 0;
	}
	.posting-job-mdul .company-item-lft {
	    width: initial;
	    height: initial;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 30px;
	}
	.active-job-module-cntlr .job-cntnt-item-rgt .job-cntnt-item-pro-msg ul {
		justify-content: flex-start;
	}
}
@media (max-width: 575px){
	.job-cntnt-item-details {
	    margin-bottom: 5px;
	    margin-top: 13px;
	}
	.job-content-cntlr{
		padding: 0;
	}
	.job-cntnt-item-copy a{
		max-width: 20px;
		width: 100%;
		font-size: 18px;
	}
	.active-job-module-cntlr {
	    margin-bottom: 18px;
	}
	.posting-job-module-cntlr {
	    margin-bottom: 40px;
	}
	.job-content-sec {
	    padding-bottom: 50px;
	}
}
@media (max-width: 479px){
	.job-cntnt-item-create-date span{
		line-height: 1.3;
	}
	.job-cntnt-item-title {
	    margin-bottom: 18px;
	}
	.job-cntnt-item-details ul li{
		margin-bottom: 6px;
	}
	.job-cntnt-item-offer,
	.job-cntnt-item-cntcted{
		width: 50%;
	}
	.job-cntnt-mdul-title {
		width: 100%;
	    margin-bottom: 10px;
	}
	.posting-job-module-cntlr {
	    margin-bottom: 35px;
	}
	.job-cntnt-item-details.job-page-cntnt-item-details ul li{
		width: 100%;
	}
}
@media (max-width: 359px){
	.job-cntnt-item-details ul li {
	    width: 100%;
	}
	.job-cntnt-item-copy a {
	    max-width: 18px;
	}
	.posting-job-module-cntlr {
	    margin-bottom: 25px;
	}
}