
.bln-messege-sec{
	padding: 35px 0 30px;
}

.bln-messege-sec-inr{
	border-bottom: 18px solid #7a92d0;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 18px 6px #e6e6e6; 
	box-shadow: 0px 0px 18px 6px #e6e6e6;
	display: flex;
}

.bln-messege-lft-sidebar{
	width: 25%;
}
.bln-messege-des{
	width: 75%;
	border-left: 2px solid #e1e1e1;
}


.bln-messege-search-ctlr{
	padding: 10px 6px 10px 10px;
	border-bottom: 2px solid #e1e1e1;
}

.bln-messege-search{
	position: relative;
}
.bln-messege-search input[type=text]{
	border: 2px solid #c6c6c6;
    border-radius: 5px;
    padding: 12px 10px 12px 30px;
    font-size: 16px;
    font-weight: 500;
    color: #2b2b2b;
    width: 100%;
    position: relative;
}

.bln-messege-search input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #2b2b2b;
	opacity: 1;
}
.bln-messege-search input[type=text]::-moz-placeholder { /* Firefox 19+ */
	color: #2b2b2b;
	opacity: 1;
}
.bln-messege-search input[type=text]:-ms-input-placeholder { /* IE 10+ */
	color: #2b2b2b;
	opacity: 1;
}
.bln-messege-search input[type=text]:-moz-placeholder { /* Firefox 18- */
	color: #2b2b2b;
	opacity: 1;
}
.bln-messege-search input[type=text]:focus{
	border-color: #8b8888;
}
.bln-messege-search span{
	position: absolute;
	top: 50%;
	left: 10px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 9;
	font-size: 16px;
}


.bln-messege-sortby-ctlr{
	padding: 10px 10px 20px 10px;
}

.bln-messege-sortby-ctlr > span{
	display: inline-block;
	vertical-align: baseline;
	color: #a8a8a8;
}

.bln-messege-sortby{
	display: inline-block;
	vertical-align: baseline;
}

.bln-messege-sortby .select2-container--default .select2-selection--single .select2-selection__rendered{
	text-transform: capitalize;
}
.bln-messege-sortby span.select2.select2-container.select2-container--default {
    width: 82px!important;
}
.bln-messege-sortby .select2-selection__arrow:after{
	content: "\f0d7";
	color: #c1c1c1;
	margin-top: -1px;
}

.messege .select2-dropdown .select2-results{
	width: 120px!important;
}

.bln-messege-sortby-ctlr .select2-container--default .select2-selection--single .select2-selection__rendered{
	padding: 4px 16px 13px 8px;
}


.bln-messege-list{
	padding: 0 7px 10px 10px;
}
.bln-messege-list ul{

}
.bln-messege-list ul li{
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

.bln-messege-list ul li:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 2px;
	width: 74%;
	background: #e8e8e8;
}
.bln-messege-list ul li:last-child:after{
	content: none;
}

.bln-messege-list ul li.active:before{
	content: ""!important;
	position: absolute;
	top: 50%;
	left: -10px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 35px;
	width: 3px;
	background: #f65151;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.bln-msg-list-item{
	display: flex;
	align-items: center;
}

.bln-msg-list-item-img-ctlr{
	width: 20%;
}
.bln-msg-list-item-img{
	height: 54px;
	width: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 17px 5px #e3e3e3; 
	box-shadow: 0px 0px 17px 5px #e3e3e3;
}
.bln-msg-list-item-img img{
	border-radius: 5px;
}

.bln-msg-list-item-des{
	padding-left: 5px;
	width: 80%;
}

.bln-msg-title{
	font-size: 14px;
	margin-bottom: 2px;
}
.bln-msg-title a{
	text-decoration: none;
	color: #000000;
}
.active .bln-msg-title a,
.bln-msg-title a:hover{
	color: #fa5252;
}

.bln-msg-hdr{
	padding-right: 50px;
	position: relative;
}
.bln-msg-hdr span{
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: 2px;
	font-size: 11px;
}

.bln-msg-fea span{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 16px;
	font-size: 12px;
	color: #2b2b2b;
	font-weight: 500;
	position: relative;
}
.bln-msg-fea span i{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.bln-msg-fea p{
	font-size: 12px;
}
.bln-msg-fea p:last-of-type{
	margin-bottom: 0;
}




.bln-messege-des-hdr{
	padding: 10px 20px;
	border-bottom: 2px solid #e1e1e1;
	display: flex;
	align-items: center;
}
.bln-messege-des-hdr-rgt{
	margin-left: auto;
}

.bln-messege-des-hdr-lft{
	padding-right: 20px;
}
.bln-msg-des-title{
	color: #000000;
	margin-bottom: 5px;
}

.bln-msg-des-fea{
	display: flex;
}

.bln-msg-des-fea strong{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 16px;
	font-weight: 600;
	margin-right: 3px;
	color: #2b2b2b;
	position: relative;
}
.bln-msg-des-fea strong i{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #fa5252;
}

.bln-msg-des-fea span{
	display: inline-block;
	vertical-align: baseline;
	color: #c8c8c8;
	font-weight: 500;
}

.bln-messege-des-hdr-lft p:last-of-type{
	margin-bottom: 0;
}


.bln-messege-des-hdr-rgt a{
	display: block;
	padding: 6px 10px 6px 30px;
	color: #7a92d0;
	background: #ecf1ff;
	border-radius: 5px;
	text-transform: capitalize;
	text-decoration: none;
	margin-bottom: 10px;
	line-height: 1;
	position: relative;
}
.bln-messege-des-hdr-rgt a i{
	position: absolute;
	top: 50%;
	left: 8px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -2px;
}
.bln-messege-des-hdr-rgt a:hover i{
	margin-left: -5px;
}
.bln-messege-des-hdr-rgt a:hover{
	background: #e3e8f7;
}



.bln-msg-grds{
	padding-bottom: 50px;
}
.bln-msg-send-receive{
	padding: 15px 20px;
}


.bln-msg-date{
	text-align: center;
	padding-bottom: 10px;
}
.bln-msg-date span{
	color: #c8c8c8;
	font-weight: 500;
}

.bln-msg-grd-col{
	width: 75%;
	padding-bottom: 15px;
}

.sender{
	margin-left: auto;
}

.bln-msg-des-hdr{
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}
.bln-msg-des-hdr strong{
	display: inline-block;
	vertical-align: baseline;
	color: #2b2b2b;
	/*font-weight: 500;*/
	margin-right: 5px;
}
.bln-msg-des-hdr span{
	display: inline-block;
	vertical-align: baseline;
	color: #c8c8c8;
	font-weight: 500;
}



.bln-msg-send-inr{
	display: flex;
	align-items: center;
}

.bln-upload{
	position: relative;
	width: 5%;
	padding-right: 20px;
}
.bln-upload-inr{
	height: 25px;
}
.bln-upload label{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-bottom: 0;
	cursor: pointer;
}
.bln-upload input[type=file]{
	position: relative;
	opacity: 0;
	cursor: pointer;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.bln-msg-input-field{
	position: relative;
	width: 81%;
}

.bln-msg-input-field input[type=text]{
	border: 2px solid #c6c6c6;
    border-radius: 5px;
    padding: 11px 70px 11px 15px;
    font-size: 17px;
    font-weight: 500;
    color: #2b2b2b;
    width: 100%;
    position: relative;
}
.bln-msg-input-field input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #2b2b2b;
	opacity: 1;
}
.bln-msg-input-field input[type=text]::-moz-placeholder { /* Firefox 19+ */
	color: #2b2b2b;
	opacity: 1;
}
.bln-msg-input-field input[type=text]:-ms-input-placeholder { /* IE 10+ */
	color: #2b2b2b;
	opacity: 1;
}
.bln-msg-input-field input[type=text]:-moz-placeholder { /* Firefox 18- */
	color: #2b2b2b;
	opacity: 1;
}
.bln-msg-input-field input[type=text]:focus{
	border-color: #8b8888;
}

.bln-msg-icons{
	position: absolute;
	top: 50%;
	right: 10px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.bln-msg-icons-inr{
	display: flex;
	align-items: center;
}
.bln-msg-icon-col{
	margin-left: 4px;
}

.bln-msg-icon-col i{
	color: #76787c;
	cursor: pointer;
	font-size: 20px;
}
.bln-msg-icon-col i:hover{
	opacity: 0.7;
}

.bln-msg-send-btn{
	margin-left: 6px;
	width: 14%;
}
.bln-msg-send-btn button{
	padding: 10px 35px;
	background: #fa5252;
	border: 2px solid #fa5252;
	border-radius: 5px;
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	text-transform: capitalize;
	max-width: 118px;
	width: 100%;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.bln-msg-send-btn button:hover{
	background: transparent;
	color: #fa5252;
}