.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 16px!important;
	height: 16px!important;
	position: static;
	background: #E1E1E1!important;
	border-radius: 100% 100%!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active,
.slick-slider .slick-dots li:hover{
	background: #F3BA4B!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}

.slick-dots li:only-child{ 
	display: none; 
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}


/* sec entry hdr */

.sec-entry-hdr{
	padding-bottom: 30px;
}
.sec-entry-hdr-title{
	text-align: center;
}


/*page intro sec*/
.page-intro-sec{
	padding-bottom: 55px;
	padding-top: 30px;
}
.page-intro-sec-cntlr{
	text-align: center;
	max-width: 830px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.page-intro-sec-title{
	margin-bottom: 25px;
}
.page-intro-sec-desc p{
	font-size: 30px;
	line-height: 1.2;
	color: #828282;
	font-weight: 500;
}
.page-intro-sec-desc p:last-of-type{
	margin-bottom: 0;
}

/*ul li*/
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
ul li{
	padding-bottom: 20px;
	padding-left: 23px;
	position: relative;
	line-height: 1.2;
}
ul li:before{
	content: '';
	background-image: url('../images/default-icn.png');
	position: absolute;
	height: 17px;
	width: 17px;
	left: 0;
	top: 0;
	margin-top: 3px;
	background-repeat: no-repeat;
    background-size: 100% auto;
}