.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 16px!important;
	height: 16px!important;
	position: static;
	background: #E1E1E1!important;
	border-radius: 100% 100%!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active,
.slick-slider .slick-dots li:hover{
	background: #F3BA4B!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}

.slick-dots li:only-child{ 
	display: none; 
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}


/* sec entry hdr */

.sec-entry-hdr{
	padding-bottom: 30px;
}
.sec-entry-hdr-title{
	text-align: center;
}


/*page intro sec*/
.page-intro-sec{
	padding-bottom: 55px;
	padding-top: 30px;
}
.page-intro-sec-cntlr{
	text-align: center;
	max-width: 830px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.page-intro-sec-title{
	margin-bottom: 25px;
}
.page-intro-sec-cntlr p{
	font-size: 30px;
	line-height: 1.2;
	color: #828282;
	font-weight: 500;
}
.page-intro-sec-cntlr p:last-of-type{
	margin-bottom: 0;
}

/*ul li*/
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
ul li{
	padding-bottom: 20px;
	padding-left: 23px;
	position: relative;
	line-height: 1.2;
}
ul li:before{
	content: '';
	background-image: url('../images/default-icn.png');
	position: absolute;
	height: 17px;
	width: 17px;
	left: 0;
	top: 0;
	margin-top: 1px;
	background-repeat: no-repeat;
    background-size: 100% auto;
}



/*select 2*/
/*body .select2-dropdown {
    margin: 0;
    border: none!important;
    border-radius: 0;
    box-shadow: none;
    padding: 0 0 0px;
    background: #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0px 30px 84px rgb(44 17 62 / 9%);
    border-radius: 5px;
}
.select-2-sortby{
    position: relative;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    display: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    font-weight: 600;
    height: 46px;
    background: #fff;
    box-sizing: border-box;
    padding: 6px 16px 13px 8px;
    color: #2b2b2b!important;
    font-size: 16px;
    border-radius: 7px!important;
    line-height: 1;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-transform: uppercase;
}
.select2-selection__arrow:after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    color: #518635;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-top: 0px;
}
.select2-container--open .select2-selection__arrow:after{
    content:"\f106";
}
.select2-container--default .select2-search--dropdown .select2-search__field, 
.bootstrap-select .dropdown-menu .bs-searchbox input {
    border: 1px solid #cecece!important;
    height: 48px!important;
    padding: 4px 15px 4px 8px;
    font-size:  14px;
    display: none!important;
}
ul.select2-results__options li {
    padding: 8px 10px 8px!important;
    background:#fff!important;
    font-size: 16px;
    color: #2b2b2b;
    font-weight: 600;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #FFA800!important;
    color: #fff!important;
}
.select2-container--default .select2-results__option.select2-results__option--selectable.select2-results__option--selected{
    background-color: #fa5252!important;
    color: #fff!important;
}
.select2-container--open .select2-dropdown{
    top: 0;
}
form .dropdown-menu, body .select2-dropdown{
    box-shadow: 0px 30px 84px rgba(44, 17, 62, 0.09);
}
body.woocommerce-checkout .select2-container.select2-container--default.select2-container--open .select2-dropdown{
    margin-top: 8px;
}
body.login-register.hide-account-title .select2-container--open .select2-dropdown{
    top: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], 
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #f8f9fa!important;
    color: #4F4B34!important;
}
.select2-container--default .select2-selection--single{
    border: none!important;
}
select.select-2-cntlr.select2-hidden-accessible.xontact-custom-select {
    width: 100%!important;
}
span.select2.select2-container.select2-container--default {
    width: 115px!important;
}
.select2-results__option.select2-results__option--selectable.select2-results__option--highlighted:before{
    content: none;
}
div.wpforms-container-full .wpforms-form select{
    height: 48px!important;
}
div.wpforms-container-full .wpforms-form select.wpforms-field-medium{
    max-width: 100%!important;
    width: 100%;
}
.select2-results__options .select2-results__option--disabled{
    color: #fff;
}
.contact-form-wrp .wpforms-container-full{
    margin-bottom: 0;
}
.select2-container--open .selection .select2-selection--single .select2-selection__rendered{
    border-color: #282526!important;
}
.select2-container .select2-dropdown .select2-results ul.select2-results__options li:before{
    content: none!important;
    display: none!important;
}*/






























.contact-select-down-icon{
    position: relative;
}
.contact-select-down-icon:after,
.wpforms-field-select:after{
    content: "\f107";
    font-family:"Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    color: #008ed9;
    font-size: 18px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.contact-select-down-icon .iit-custom-select option{
    background: #ff9140;
    color: #fff;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}.contact-select-down-icon .iit-custom-select option:hover,
.contact-select-down-icon .iit-custom-select option[selected]{
    background: #dc7223!important;
}

.select2-container{
    height: 48px!important;
}
.select-2-cntlr .select2-container .select2-selection--single{
    height: 48px!important;
}
.select2-container--default .select2-selection--single{
    border-radius: 0!important;
    height: 48px!important;
    border-color: #cecece!important;
    border: none!important;
}
.select2-search--dropdown{
    padding: 0!important;
}
body .select2-container.select2-container--default.select2-container--open .select2-dropdown {
    margin-top: -2px;
}
/*body .select2-container.select2-container--default.select2-container--open .select2-dropdown {
    margin-top: 0;
    box-shadow: none;
    top: 100%;
    margin-top: -16px;
}*/
.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--default .select2-selection--single .select2-selection__arrow{
    display: none!important;
}

body .select2-dropdown {
    margin: 0;
    border: none!important;
    border-radius: 0;
    box-shadow: none;
    padding: 0 0 0px;
    background: #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0px 30px 84px rgb(44 17 62 / 9%);
    border-radius: 3px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    font-weight: 500;
    height: 46px;
    background: #fff;
    border: 2px solid #008ed9;
    box-sizing: border-box;
    padding: 16px 16px 13px 22px;
    color: #acacac!important;
    font-size: 12px;
    border-radius: 7px!important;
    line-height: 1;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}
.contact-form-wrp .select2-container--default .select2-selection--single .select2-selection__rendered{
    /*color: #777F84;*/
    color:#525051!important;
    opacity:1;
}
.select2-container--default .select2-search--dropdown .select2-search__field, 
.bootstrap-select .dropdown-menu .bs-searchbox input {
    border: 1px solid #cecece!important;
    height: 48px!important;
    padding: 4px 15px;
    font-size:  14px;
}
ul.select2-results__options li {
    padding: 13px 10px 13px!important;
    background: #009fe1!important;
    font-size: 16px;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #FFA800!important;
    color: #fff!important;
}
.select2-container--open .select2-dropdown{
    top: 0;
}
body.woocommerce-checkout .select2-container.select2-container--default.select2-container--open .select2-dropdown{
    margin-top: 8px;
}
body.login-register.hide-account-title .select2-container--open .select2-dropdown{
    top: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], 
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #333434!important;
    color: #fff!important;
    text-transform: capitalize;
}


select.select-2-cntlr.select2-hidden-accessible.xontact-custom-select {
    width: 100%!important;
}
span.select2.select2-container.select2-container--default {
    width: 100%!important;
}
.select2-results__option.select2-results__option--selectable.select2-results__option--highlighted:before{
    content: none;
}
div.wpforms-container-full .wpforms-form select{
    height: 48px!important;
}
div.wpforms-container-full .wpforms-form select.wpforms-field-medium{
    max-width: 100%!important;
    width: 100%;
}
.select2-results__options .select2-results__option--disabled{
    color: #fff;
}
.contact-form-wrp .wpforms-container-full{
    margin-bottom: 0;
}
.select2-container--open .selection .select2-selection--single .select2-selection__rendered{
    border-color: #282526!important;
}
.wpforms-has-error .select2-container .selection .select2-selection--single .select2-selection__rendered{
    border-color: #D61D1D!important;
    color: #D61D1D!important;
}
.wpforms-field-select.wpforms-has-error:after{
    color: #D61D1D!important;
}
.select2-container .select2-dropdown .select2-results ul.select2-results__options li:before{
    content: none!important;
    display: none!important;
}
/*select-2*/