.pp-compny-card-cntns-sec{
	padding: 24px 0;
}
.back-to-explr-cntlr{
	padding-bottom: 15px;
}
.back-to-explr-cntlr a{
	display: inline-block;
	color: #fa5252;
	text-transform: capitalize;
	padding-left: 9px;
	font-size: 16px;
	font-family: 'MyriadPro-Regular';
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0.5px;
	text-decoration: none;
	position: relative;
}
.back-to-explr-cntlr a:before{
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	background-image: url('../images/pp-back-to-exp-icon.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 11px;
	width: 6px;
}
.pp-compny-card-cntns-sec-cntlr {
    -webkit-box-shadow: 0px -2px 22px 15px rgba(230,230,230,0.84);
    -moz-box-shadow: 0px -2px 22px 15px rgba(230,230,230,0.84);
    box-shadow: 1px 0px 17px 15px rgb(230 230 230 / 84%);
    border-radius: 12px;
    border-bottom: 17px solid #014d4b;
}
.pp-compny-card-cntns-inr {
    padding: 35px 35px 40px 45px;
    display: flex;
    flex-wrap: wrap;
}
.pp-compny-card-cntns-lft{
	padding-right: 25px;
	width: 24%;
}
.compny-card-logo {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.23);
    border-radius: 8px;
    text-align: center;
}
.compny-card-logo img{
	width: 100%;
	height: auto;
}
.pp-compny-card-cntns-rgt{
	width: 76%;
}
.pp-compny-card-ttl{
	margin-bottom: 15px;
}
.pp-compny-card-cntns-top{
	display: flex;
	padding-bottom: 65px;
	flex-wrap: wrap;
}
.compny-card-cntns-top-lft{
	padding-right: 20px;
}
.compny-card-title{
	font-weight: 600;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 10px;
}
.card-loctn {
    position: relative;
    padding-left: 18px;
    font-size: 18px;
    color: #2b2b2b;
    font-family: 'MyriadPro-Regular';
    font-weight: 600;
    margin-bottom: 12px;
    display: block;
    letter-spacing: .5px;
}
.card-loctn i{
	position: absolute;
/*	content: "";
	background-image: url('../images/pp-loctn-icon.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;*/
	left: 0;
	width: 15px;
	height: 18px;
	color: #fa5252;
	font-size: 19px;
	display: inline-block;
}
.card-loctn-time{
	color: #c8c8c8;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	/*font-weight: 600;*/
	letter-spacing: .5px;
}
.card-rating{
	color: #ffcc00;
	font-size: 24px;
	font-weight: 600;
	position: relative;
	padding-left: 30px;
}
.card-rating i {
    position: absolute;
/*    content: "";
    background-image: url('../images/pp-star.png');
    height: 19px;
    width: 19px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;*/
    font-size: 24px;
    display: inline-block;
    left: 0;
    top: 0;
    margin-top: 2px;
}
.card-rating-cuntr{
	color: #c8c8c8;
	font-weight: 500;
}
.compny-card-cntns-top-rgt{
	margin-left: auto;
}
.invite-job{}
.invite-job a {
    position: relative;
    display: inline-block;
    padding: 6px;
    font-weight: 500;
    min-width: 170px;
    padding-left: 25px;
    border-radius: 10px;
}
.invite-job a i {
    position: absolute;
/*    content: "";
    background-image: url('../images/pp-plus.png');
    height: 12px;
    width: 12px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;*/
    left: 0;
    top: 0;
    margin-left: 8px;
    margin-top: 10px;
    font-size: 16px;
}
.pp-compny-card-cntns-btm{
	display: flex;
	flex-wrap: wrap;
}
.compny-card-cntns-btm-lft{
	padding-right: 20px;
}
.card-contcts-ways{}
.card-contcts-ways ul{
	display: flex;
	align-items: center;
	margin: 0 -5px;
	flex-wrap: wrap;
}
.card-contcts-ways ul li{
	padding: 0 5px;
}
.card-contcts-ways ul li:after{
	content: none;
}
.card-contcts-ways ul li a {
    position: relative;
    font-size: 23px;
    color: #7a92d0;
    padding: 5px 15px;
    padding-left: 38px;
    background-color: #ecf1ff;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}
.loctn-extra-info a:hover, .loctn-lft ul li a:hover, .card-contcts-ways ul li a:hover{
	color: #fa5252;
}
.loctn-extra-info a:hover i, .loctn-lft ul li a:hover i, .card-contcts-ways ul li a:hover i{
	transition: all 0s!important;
}
.loctn-extra-info a i, .loctn-lft ul li a i, .card-contcts-ways ul li a i,.invite-job a i{
	transition: all 0s;
}
.card-contcts-ways ul li a i{
	position: absolute;
/*	content: "";
	background-image: url('../images/pp-star.png');
	height: 10px;
	width: 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;*/
	left: 0;
	top: 0;
	margin-left: 10px;
	margin-top: 6px;
}
.card-contcts-ways ul li:nth-child(2) a:before{}
.card-contcts-ways ul li:nth-child(3) a:before{}
.compny-card-cntns-btm-rgt{
	margin-left: auto;
}
.compny-card-socials{}
.compny-card-socials ul{
	display: flex;
	margin: 0 -8px;
	flex-wrap: wrap;
}
.compny-card-socials ul li{
	padding: 0 8px;
}
.compny-card-socials ul li:nth-child(1){
	padding-left: 0;
}
.compny-card-socials ul li:nth-child(1) a{
	margin-top: 2px;
}
/*.compny-card-socials ul li:nth-child(1) a:hover img{
	background-image: url('../images/pp-red-fb-icon.png');
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
}*/
.compny-card-socials ul li:nth-child(1) a img{
	height: 27px;
	width: 28px;
	/*transition: all .5s;*/
	/*-webkit-transition: all .5s;*/
	/*-moz-transition: all .5s;*/
}
.compny-card-socials ul li:after{
	content: none;
}
.compny-card-socials ul li a {
	text-decoration: none;
	display: inline-block;
	position: relative;
}
.compny-card-socials ul li:first-child a:before{
	position: absolute;
	content: "\f09a";
	height: 10px;
	width: 10px;
	font-family: "Font Awesome 5 Free";
	font-weight: 500;
	font-size: 10px;
}
.compny-card-socials ul li a i{
	font-size: 30px;
	display: inline-block;
}
.compny-card-socials ul li:nth-child(1) a i {
    padding: 9px;
    background: #7a92d0;
    border-radius: 100% 100%;
    height: 27px;
    width: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    padding-top: 15px;
}
.compny-card-socials ul li:nth-child(1) a:hover i{
	background-color: #fa5252;
}

/*pp-about-sec*/
.pp-about-fancy-sec{
	padding: 10px 0px 0px 0px;
}
.pp-about-fancy-sec-cntlr{
	display: flex;
	flex-wrap: wrap;
}
.pp-about-fancy-lft{
	max-width: 50%;
	width: 100%;
	padding-right: 55px;
}
.pp-abt-hdng{}
.pp-about-ttl{
	margin-bottom: 10px;
	position: relative;
	padding-left: 32px;
}
.pp-about-ttl:before {
    position: absolute;
    content: "";
    background-image: url('../images/pp-abt-hdng-icon.png');
    height: 26px;
    width: 23px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    top: -3px;
}
.pp-des{}
.pp-des p{
	color:#2b2b2b;
	font-weight: 400;
	margin-bottom: 20px;
	/*line-height: 1.3;*/
}
.pp-about-rgt{}
.pp-fancy-hdng{}
.pp-fancy-ttl{
	position: relative;
	margin-bottom: 15px;
	padding-left:40px;
}
.pp-fancy-ttl:before {
    position: absolute;
    content: "";
    background-image: url('../images/pp-fancy-hdng-icon.png');
    height: 26px;
    width: 31px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
}

.pp-about-fancy-rgt{
	padding-left: 20px;
}
.pp-fncy-hdng{}
.pp-fancy-ttl{}
.pp-fancy-box-cntlr {
    -webkit-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 17px 7px rgb(0 0 0 / 12%);
    border-radius: 12px;
    position: relative;
}
.pp-fancy-box-inr{
	
}
.pp-fancy-img, .pp-more-fancy-img{
	width: 100%;
    height: 100%;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 12px;
    position: relative;
}
.pp-more-fancy-img {
    -webkit-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 18px 1px rgb(0 0 0 / 28%);
}
.pp-fancy-img:after {
/*    position: absolute;
    content: "";
    background-image: url('../images/pp-plus.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);*/
}
/*.pp-more-fancy-img{
	position: relative;
	width: 100%;
    height: 100%;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 12px;
}*/
.pp-more-fancy-img:after{
	position: absolute;
    content: "";
    background-image: url('../images/pp-plus.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 43px;
    width: 43px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.fancy-gallery{
    max-width: 100%;
    width: 485px;
    height: 250px;
    position: relative;
}
.fancy-gallery a{}
.fancy-gallery a img{}
.fancy-more-item {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 10px;
    z-index: 11;
    bottom: -35px;
}
/*pp-location-exprt-sec---------------------------------------*/
.pp-location-exprt-sec{
	padding: 35px 0;
}
.pp-location-exprt-sec-cntlr{
	display: flex;
	flex-wrap: wrap;
}
.pp-location-exprt-sec-lft{
	padding-right: 25px;
	width: 50%;
}
.pp-location-exprt-col{}
.loctn-hdng{}
.pp-location-ttl{
	margin-bottom: 20px;
	position: relative;
	padding-left: 26px;
}
.pp-location-ttl i{
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	display: inline-block;
}
.location-des-cntlr{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.loctn-lft{
	padding-right: 25px;
}
.loctn-lft ul {}
.loctn-lft ul li{}
.loctn-lft ul li.active a{
	color: #fa5252;
}
.loctn-lft ul li a{
	text-decoration: none;
	font-size: 20px;
	text-transform: capitalize;
	color: #2b2b2b;
	font-weight: 500;
}
.loctn-extra-info{
	padding-top: 25px;
}
.loctn-extra-info a{
	text-transform: capitalize;
	color: #bcbcbc;
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	text-decoration: none;
}
.pp-google-map-wraper {
    -webkit-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 24px -3px rgb(0 0 0 / 28%);
    border-radius: 6px;
}
.pp-google-map{
	border-radius: 6px;
}
.pp-google-map iframe{
	width: 340px;
	height: 185px;
}
.pp-location-exprt-sec-rgt{
	width: 50%;
	padding-left: 25px;
}
.pp-location-exprt-col{}
.pp-exprt-hdng{
	position: relative;
}
.pp-exprt-hdng:before {
    position: absolute;
    content: "";
    left: 0;
    top: -3px;
    background-image: url('../images/pp-exprt-icon.png');
    width: 23px;
    height: 26px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.pp-exprt-ttl {
    padding-left: 35px;
    margin-bottom: 15px;
}
.pp-exprt-list{}
.pp-exprt-list ul{
	display: flex;
	margin: 0 -2px;
	flex-wrap: wrap;
}
.pp-exprt-list ul li {
    padding: 0 2px;
    display: inline-block;
    margin-bottom: 6px;
}
.pp-exprt-list ul li span {
    background-color: #e5e5e5;
    padding: 8px 10px;
    border-radius: 5px;
    color: #616368;
    font-size: 19px;
    font-weight: 600;
    display: inline-block;
}
/*pp-verfd-qulftion-sec-----------------------------------------*/
.pp-verfd-qulftion-sec{
	padding: 25px 0;
}
.pp-verfd-qulftion-sec-cntlr{
	display: flex;
	flex-wrap: wrap;
}
.pp-verfd-qulftion-sec-cntlr-lft{
	width: 50%;
	padding-right: 20px;
}
.pp-verfd-cntns{}
.pp-verifd-ttl{
	margin-bottom: 15px;
	padding-left: 45px;
	position: relative;
}
.pp-verifd-ttl:before {
    position: absolute;
    content: "";
    left: 0;
    top: -1px;
    background-image: url('../images/pp-verfied-icon.png');
    width: 29.5px;
    height: 22.7px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.pp-verifd-dtls-list {
    -webkit-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 25px -1px rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding: 20px 15px 5px;
    position: relative;
}
.pp-verifd-dtls-list ul {
	display: flex;
	flex-wrap: wrap;
}
.pp-verifd-dtls-list ul li {
    padding-right: 0px;
    margin-bottom: 15px;
    max-width: 33.3333%;
    width: 100%;
}
.pp-verifd-dtls-list ul li strong{
	position: relative;
	padding-left: 22px;
	display: block;
	font-size: 18px;
	font-weight: 600;
	color: #2b2b2b;
}
.pp-verifd-dtls-list ul li strong:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0px;
    background-image: url('../images/pp-verfd-list-icon.png');
    width: 17px;
    height: 17px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.pp-verifd-dtls-list ul li span{
	display: inline-block;
	font-weight: 400;
	font-size: 18px;
	color: #2b2b2b;
}
.pp-tooltip-info-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.pp-tooltip-info-icon i{}
.pp-tooltip-info-icon i img{}
.pp-verfd-qulftion-sec-cntlr-rgt{
	width: 50%;
	padding-left: 30px;
}
.pp-qulftion-ttl{
	margin-bottom: 15px;
	padding-left: 42px;
	position: relative;
}
.pp-qulftion-ttl:before{
	position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-image: url('../images/pp-qualfition-icon.png');
    width: 32px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.pp-qualftion-cntns-inner{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.pp-qualftion-list{
	padding-right: 15px;
}
.pp-qualftion-list ul{}
.pp-qualftion-list ul li{
	position: relative;
	padding-bottom: 5px;
}
.pp-qualftion-list ul li:before {
    position: absolute;
    content: "";
    left: 0;
    top: 2px;
    background-image: url('../images/pp-qualfiction-list-icon.png');
    width: 12px;
    height: 13px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.pp-qualftion-list ul li span{
	font-weight: 600;
	color: #2b2b2b;
	font-size: 18px;
	display: inline-block;
}
.pp-qualftion-logo{
	padding-left: 15px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
	align-items: center;
}
.pp-qualftion-logo i{
	display: inline-block;
	padding: 0 5px;
}
.pp-qualftion-logo i img{}

/*pp-revw-sec-------------------------*/
.pp-revw-sec{
	padding: 25px 0;
}
.pp-revw-sec-cntlr{}
.pp-revw-hdng{}
.pp-revw-ttl{
	position: relative;
	padding-left: 37px;
	margin-bottom: 20px;
}
.pp-revw-ttl i {
    display: inline-block;
    position: absolute;
    left: 0;
    font-size: 25px;
    color: #000;
    top: -2px;
}
/*.pp-revw-ttl:before{
	position: absolute;
    content: "";
    left: 0;
    top: 2px;
    background-image: url('../images/pp-star.png');
    width: 12px;
    height: 13px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}*/
.pp-revw-sec-cntlr >ul{
	display: flex;
	flex-wrap: wrap;
}
.pp-revw-sec-cntlr >ul >li{
	flex-direction: column;
	margin-bottom: 15px;
	width: 100%;
}
.pp-revw-item{
	padding: 15px;
	border:2px solid #c6c6c6;
	border-radius: 6px;
}
.pp-revw-item-ttl{
	margin-bottom: 10px;
}
.pp-revw-item-cntns{
	position: relative;
	padding-right: 185px;
}
.pp-revw-item-cntns p{
	color: #2b2b2b;
	margin-bottom: 25px;
	font-weight: 600;
	line-height: 1.7;
}
.pp-revw-item-cntns > ul{
	display: flex;
	/*flex-wrap: wrap;*/
}
.pp-revw-item-cntns >ul >li{
	position: relative;
	padding-left: 20px;
	padding-bottom: 0;
	margin-right: 20px;
}
.pp-revw-item-cntns ul li span{
	color: #2b2b2b;
	font-weight: 500;
	display: inline-block;
}
.pp-revw-item-cntns >ul >li > span:before{
	position: absolute;
    content: "";
    left: 0;
    top: 1px;
    background-image: url('../images/pp-painter.png');
    width: 17px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.pp-revw-item-cntns >ul >li:nth-child(2) > span:before{
	background-image: url('../images/pp-red-lctn-icon.png');
	width: 13px;
    height: 16px;
    left: 6px;
}
.pp-revw-item-cntns >ul >li:nth-child(3) > span:before {
    background-image: url('../images/pp-calender.png');
    width: 15px;
    height: 17px;
    left: 2px;
}
.rating-stars{
	position: absolute;
	right: 15px;
	top: 15px;
}
.rating-stars> ul {
    display: flex;
    position: relative;
}
.rating-stars> ul> li{}
.rating-stars> ul> li> i {
    padding: 0 1px;
}
.rating-stars> ul> li> i> img{}
.revw-rate {
    position: absolute;
    right: 0;
    font-size: 30px;
    color: #ffcc00;
    font-weight: 700;
    margin-top: 3px;
}
.pp-show-more-revw{
	padding-top: 8px;
	text-align: center;
}
.show-more-revw{
	font-size: 16px;
	color: #bcbcbc;
	font-weight: 600;
	display: inline-block;
	text-decoration: none;
}