.pro-rvw-job-top-con-inr .profile{
	height: 78px;
	width: 78px;
}
.pro-rvw-job-top-con-inr .job-cntnt-mdul-hdr{
	margin-bottom: 16px;
}
.pro-rvw-job-mdul-cntlr .job-cntnt-item-dtls-col span i.fas.fa-user,
.pro-rvw-job-top-con-inr .job-cntnt-item-dtls-col span i.fas.fa-user {
    margin-top: -2px;
    color: #fa5252;
}
.pro-rvw-job-mdul-cntlr .job-cntnt-item-dtls-col span i,
.pro-rvw-job-top-con-inr .job-cntnt-item-dtls-col span i{
	color: #fa5252;
}
.pro-rvw-job-mdul-cntlr .job-cntnt-item-rgt{
	margin-left: 0;
}
.pro-rvw-job-mdul-cntlr .job-cntnt-item-rgt-2{
	margin-left: auto;
	margin-top: auto;
}
.pro-rvw-job-mdul-cntlr .job-cntnt-item{
	padding-bottom: 13px;
	padding-top: 20px;
	padding-right: 32px;
	border-bottom: 2px solid #e1e1e1;
	position: relative;
}
.pro-rvw-job-mdul-cntlr .job-cntnt-item-pro-msg ul{
	display: block;
}
.pro-rvw-job-mdul-cntlr .job-cntnt-item-pro-msg ul li{
	padding-bottom: 6px;
}
.job-cntnt-pro-msg-item.pro-rvw-job-bg a {
    background: #7a92d0;
    color: #ecf1ff;
    padding: 7px 5px 7px 30px;
}
.job-cntnt-pro-msg-item.pro-rvw-job-bg a:hover{
	background: #ecf1ff;
    color: #7a92d0;
}
.job-cntnt-pro-msg-item.pro-rvw-job-trspt a {
    background: transparent;
    color: #7a92d0;
    border: 2px solid #7a92d0;
    padding: 5px 5px 5px 30px;
}
.job-cntnt-pro-msg-item.pro-rvw-job-trspt a:hover{
	background: #7a92d0;
    color: #ecf1ff;
}
.job-cntnt-pro-msg-item.pro-rvw-job-trspt a i,
.job-cntnt-pro-msg-item.pro-rvw-job-bg a i{
	transition: all 0s;
	-ms-transition: all 0s;
	-webkit-transition: all 0s;
}
.job-cntnt-pro-msg-item .pro-rvw-job-gap a{
	padding: 7px 5px 7px 25px;
}
.job-cntnt-pro-msg-item.pro-rvw-job-gap {
    padding-top: 17px;
    padding-bottom: 3px;
}
.new-jon-tag{
	position: absolute;
	right: 0;
	top: 21px;
}
.new-jon-tag span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 18px;
	font-weight: 500;
	color: #fedada;
	background: #fa5252;
	width: 65px;
	text-align: center;
	padding: 5.5px 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.pro-rvw-job-mdul-cntlr .fl-pagination-cntlr{
	padding-top: 28px;
	padding-bottom: 34px;
}
.pro-rvw-job-mdul-cntlr{
	border-bottom: 18px solid #7a92d0;
    box-shadow: 0 0 36px -21px #000;
    -moz-box-shadow: 0 0 36px -21px #000;
    -webkit-box-shadow: 0 0 36px -21px #000;
    border-radius: 11px;
}
