.my-proaccount-setting-form .myaccount-profile-image{
	border:1px solid #d4d4d4;
	background:#fff;
	border-radius:8px;
}
.my-proaccount-setting-form .account-profile-right{
	padding-left:44px;
}
.my-proaccount-setting-form .add-profile-img{
	right:-26px;
	top:-10px;
}

@media(max-width:767px){
	.my-proaccount-setting-form .account-profile-right {
	    padding-left: 15px;
	}
}
@media(max-width:639px){
	.input-field-wrapper{
		max-width:100%;
	}
	.myaccount-content-cntlr{
		padding: 20px 20px;
	}
}