.pro-rvw-job-aply-form .form-block {
    padding-left: 36px;
    padding-right: 36px;
}
.pro-rvw-job-aply-form .input-field-col textarea, 
.pro-rvw-job-aply-form .input-field-col input{
    padding: 15px 20px 15px 17px;
}
.pro-rvw-job-aply-form .input-field-col textarea{
    height: 110px!important;
}
.pro-rvw-job-aply-form .create-a-job-form span.select2.select2-container.select2-container--default {
    width: 522px!important;
}
.pro-rvw-job-aply-form .create-a-job-form select.select-2-cntlr.select2-hidden-accessible.xontact-custom-select {
    width: 522px!important;
}
#quote-price .input-field-col input{
    width: 522px;
}