.View-job-mdul-hdr .job-cntnt-mdul-title > a,
.View-job-mdul-hdr .job-cntnt-mdul-title > span{
	color: #7a92d0;
	font-weight: 500;
	display: inline-block;
	text-decoration: none;
}
.View-job-mdul-hdr .job-cntnt-mdul-title > a:hover{
	color: #fa5252;
}
.review-job-mdul{
	margin-bottom: 48px;
}
.proposal-job-cntnt-mdul .profile{
	width: 80px;
	height: 80px;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 24%);
	-webkit-box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 24%);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.24);
	background: transparent;
}
.job-cntnt-item{
	position: relative;
}
.proposal-job-cntnt-mdul .job-cntnt-item{
	padding-bottom: 10px;
}
.proposal-job-cntnt-mdul .job-cntnt-item:last-of-type{
	padding-bottom: 27px;
}
.proposal-job-cntnt-mdul .job-cntnt-item-rgt{
	margin-left: initial;
	width: 63.1%;
}
.proposal-job-cntnt-mdul .job-cntnt-item-des:last-of-type p:last-of-type{
	margin-bottom: 0;
}
.job-cntnt-item-des p a{
	display: inline-block;
	text-decoration: none;
	color: #fa5252;
	font-weight: 600;
}
.job-cntnt-item-des p a:hover{
	color: initial;
}
.job-cntnt-item-pro-msg-cntlr{
	margin-left: auto;
	padding-top: 70px;
}
.proposal-job-cntnt-mdul .job-cntnt-item-pro-msg ul{
	display: block;
}
.proposal-job-cntnt-mdul .job-cntnt-item-pro-msg ul li{
	padding-bottom: 6px;
}
.proposal-job-cntnt-mdul .job-cntnt-item-pro-msg ul li.job-cntnt-profile-item-cntlr{
	margin-top: 10px;
}
.review-job-cntlr .proposal-job-cntnt-mdul .job-cntnt-item{
	padding-bottom: 25px;
}
.jc-full{
	display: none;
}
.review-job-sec .select2-container--default .select2-selection--single .select2-selection__rendered{
	padding-top: 5px;
}
@media (max-width: 991px){
	.proposal-job-cntnt-mdul .job-cntnt-item-rgt{
		width: 68%;
	}
}
@media (max-width: 767px){
	.proposal-job-cntnt-mdul .job-cntnt-item-rgt{
		width: 100%;
	}
	.job-cntnt-item-pro-msg-cntlr{
		margin-left: 0;
		padding-top: 40px;
		padding-bottom: 15px;
	}
	.job-cntnt-item-pro-msg-cntlr:last-child{
		padding-bottom: 0;
	}
	.proposal-job-cntnt-mdul .job-cntnt-item-pro-msg ul{
		display: flex;
	}
	.proposal-job-cntnt-mdul .job-cntnt-item-pro-msg ul li.job-cntnt-profile-item-cntlr{
		margin-top: 0;
	}
	.review-job-cntlr .proposal-job-cntnt-mdul .job-cntnt-item{
		padding-bottom: 25px;
	}
}
@media (max-width: 575px){
	.review-job-module-cntlr .job-cntnt-mdul-title {
	    margin-bottom: 15px;
	}
	.review-job-sec {
	    padding-bottom: 50px;
	}
}
@media(max-width: 479px){
	.job-cntnt-item-pro-msg-cntlr {
	    padding-top: 30px;
	}

}
