.setup-pricing-account-sec{
	padding-top: 35px;
	padding-bottom: 75px;
}
.setup-pricing-account-cntlr{
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	box-shadow: 0px 0px 30px -4px rgb(0 0 0 / 27%);
    -moz-box-shadow: 0px 0px 30px -4px rgb(0 0 0 / 27%);
    -webkit-box-shadow: 0px 0px 30px -4px rgb(0 0 0 / 27%);
	border-bottom: 18px solid #7a92d0;
	border-radius: 10px;
	padding: 50px 70px 38px;
}
.setup-pricing-account-sec .bln-pkg-grids-cntlr{
	text-align: initial;
}
.setup-pricing-account-sec .bln-pkg-grid-item-cntlr{
	border-bottom: initial;
	padding: 25px 23px 37px;
}
.try-free-btn .fl-btn{
	font-size: 17px;
	padding: 14.3px 13px 13.3px;
	min-width: 238px;
}
.setup-pricing-heading-1{
	font-weight: 600;
	line-height: 1.1;
}
.setup-pricing-sub-heading-2{
	color: #828282;
	font-weight: 500;
	margin-bottom: 40px;
	display: inline-block;
	position: relative;
	padding-left: 40px;
}
.setup-pricing-sub-heading-2:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 0;
	background-image: url('../images/like-icon.png');
	width: 28px;
	height: 30px;
	top: 50%;
	transform: translateY(-50%);
	background-size: 100% auto;
    background-repeat: no-repeat;
}
.setup-pricing-sub-heading-3{
	margin-bottom: 27px;
	font-weight: 600;
}
.setup-pricing-created-account-sec .bln-pkg-grid-item-cntlr{
	border-bottom: initial;
	padding: 25px 40px 35px 23px;
}

@media(max-width: 1199px){
	.setup-pricing-account-sec{
		padding-bottom: 65px;
	}
	.setup-pricing-account-cntlr{
		padding: 45px 55px 35px;
	}
	.setup-pricing-sub-heading-2{
		margin-bottom: 35px;
	}
}

@media(max-width: 991px){
	.setup-pricing-account-sec{
		padding-bottom: 55px;
	}

	.setup-pricing-account-cntlr{
		padding: 40px 40px 35px;
	}
	.setup-pricing-account-sec .bln-pkg-grid-item-cntlr{
		padding: 22px 15px 30px;
	}
	.setup-pricing-sub-heading-2{
		margin-bottom: 28px;
	}
	.setup-pricing-sub-heading-2:before{
		width: 25px;
		height: 28px;
	}
}
@media(max-width: 767px){
	.setup-pricing-account-sec .bln-pkg-grids-cntlr ul{
		margin: 0 -8px;
	}
	.setup-pricing-account-sec .bln-pkg-grids-cntlr ul li.bln-pkg-grid-item-col{
		padding-left: 15px;
		padding-right: 15px;
	}
	.setup-pricing-account-sec .setup-pricing-account-cntlr{
		padding: 30px 16px 35px;
	}
	
	.setup-pricing-sub-heading-2{
		padding-left: 35px;
	}
	.setup-pricing-sub-heading-2:before{
		width: 23px;
		height: 26px;
	}
	.setup-pricing-sub-heading-3{
		margin-bottom: 25px;
	}
	.setup-pricing-account-sec .bln-pkg-grid-item-cntlr{
		padding: 25px 20px 30px;
	}
	.try-free-btn .fl-btn{
		font-size: 16px;
	}
	.setup-pricing-account-cntlr .fl-pkg-grd-ftr-btn .fl-btn{
		min-width: 219px;
	}
}
@media(max-width: 639px){
	.setup-pricing-account-sec{
		padding: 60px 0;
	}
	.setup-pricing-account-sec .setup-pricing-account-cntlr{
		padding-bottom: 50px;
		padding-top: 25px;
	}
	.setup-pricing-account-cntlr{
		max-width: 520px;
	}
	.setup-pricing-account-sec .bln-pkg-grid-item-cntlr{
		padding: 30px 30px 35px;
	}
	.try-free-btn {
		padding-top: 10px;
	}
	.try-free-btn .fl-btn{
		font-size: 15px;
	}

}
@media(max-width: 359px){
	.setup-pricing-account-sec .bln-pkg-grid-item-cntlr {
   		 padding: 30px 22px 40px;
	}
	.setup-pricing-heading-1{
		margin-bottom: 14px;
	}
	.setup-pricing-sub-heading-2{
		margin-bottom: 25px;
	}
}
