.setup-form .input-field-col{
	margin-bottom: 13px;
}
.setup-contant-sec .input-fields-cntlr{
	padding-bottom: 23px;
	margin-bottom: 30px;
}
.setup-btm-contant{
	text-align: center;
	max-width: 518px;
    margin-left: auto;
    margin-right: auto;
}
.setup-btm-contant .login-checkmark-cntlr .login-check-cntlr input[type="checkbox"]{
  left: 0;
}
.setup-btm-contant .login-checkmark-cntlr .login-check-cntlr span.checkmark{
  left: 0;
}
.login-check-cntlr label a{
	color: #fa5252;
	text-decoration: none;
}
.login-check-cntlr label a:hover{
	color: #2b2b2b;
}
.setup-btm-contant .login-checkmark-cntlr{
	padding-bottom: 25px;
}
.setup-btn-cntlr{
	padding-bottom: 40px;
}
.setup-btn-cntlr button{
	padding: 14.5px 13px 15.5px;
	min-width: 100%;
	cursor: pointer;
}
.setup-btm-contant .login-checkmark-cntlr .login-check-cntlr label{
	font-weight: 500;
}
.setup-mgs span{
	font-weight: 500;
	color: #76787c;
}
.setup-mgs span a{
	display: inline-block;
	position: relative;
	padding-right: 11px;
	text-decoration: none;
	color: #fa5252;
}
.setup-mgs span a:hover{
	color: #2b2b2b;
}
.setup-mgs span a:hover i{
	right: -2px;
	color: #2b2b2b;
}
.setup-mgs span a i{
	position: absolute;
	right: 0;
	top: 53%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	margin-top: 1px;
	display: inline-block;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.setup-contant-sec .join-contant-cntlr{
	padding-bottom: 19px;
}
.join-contant-sec.setup-contant-sec {
    padding-bottom: 71px;
}

.input-field-Postcode-col{
	position: relative;
}
.input-field-label-col > label{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 60px;
	font-weight: 500;
	font-size: 19px;
	color: #2b2b2b;
	display: inline-block;
	cursor: text;
}
/*.input-field-label-col input[type="text"]:focus + label{
    display: none;
}*/
.input-field-label-col label > span{
	color: #c8c8c8;
	font-weight: 400;
}

@media (max-width: 991px){
	.join-contant-sec.setup-contant-sec {
	    padding-bottom: 60px;
	}
}
@media (max-width: 767px){
	.join-contant-sec.setup-contant-sec {
	    padding-bottom: 50px;
	    padding-top: 50px;
	}
	.input-field-label-col > label{
		font-size: 16px;
		left: 52px;
	}
}
@media (max-width: 575px){
	.setup-btn-cntlr {
	    padding-bottom: 30px;
	}
	.setup-btm-contant .login-checkmark-cntlr .login-check-cntlr label {
	    font-size: 13px;
	}
	.setup-btn-cntlr button {
	    padding: 14px 13px 15px;
	}
	.setup-form .input-field-col {
	    margin-bottom: 20px;
	}
}
@media (max-width: 479px){
	.setup-btn-cntlr button {
	    padding: 13px 12px 14px;
	}
	.setup-btn-cntlr {
	    padding-bottom: 24px;
	}
}