.setup-pro-form-title-cntlr {
    padding-top: 15px;
}
.setup-pro-form-title {
	color: #fa5252;
    margin-bottom: 12px;
}
.setup-pro-contant-sec .join-contant-inner{
	padding-bottom: 41px;
	margin-bottom: 30px;
}
.setup-pro-contant-sec .join-contant-cntlr{
	padding-bottom: 27px;
}
.join-contant-sec.setup-pro-contant-sec {
    padding-bottom: 83px;
}
.input-field-col span.input-tol-tip{
	position: absolute;	
	top: 50%;	
	right: 34px;
	color: #c8c8c8;
	font-size: 20px;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}