.setup-pricing-created-account-sec{
	padding-top: 35px;
	padding-bottom: 75px;
}
.setup-pricing-created-account-sec-cntlr{
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	box-shadow: 1px 2px 41px -16px rgba(0,0,0,0.28);
-webkit-box-shadow: 1px 2px 41px -16px rgba(0,0,0,0.28);
-moz-box-shadow: 1px 2px 41px -16px rgba(0,0,0,0.28);
	border-bottom: 18px solid #7a92d0;
	border-radius: 10px;
	padding: 50px 70px 38px;
}
.setup-pricing-created-account-sec .prising-mnthly-yearly{
	text-align: initial;
	padding-bottom: 25px;
}
.setup-pricing-created-account-sec .try-free-for-1-month-btn{
	padding-top: 20px;
}
.setup-pricing-created-account-title-2{
	color: #828282;
	font-weight: 500;
	margin-bottom: 40px;
	display: inline-block;
	position: relative;
	padding-left: 43px;
}
.setup-pricing-created-account-title-2:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 0;
	background-image: url('../images/like-icon.png');
	width: 30px;
	height: 31px;
	top: 50%;
	transform: translateY(-50%);
}
.setup-pricing-created-account-title-3{
	font-size: 20px;
	margin-bottom: 27px;
}
.setup-pricing-created-account-sec .prising-mnthly-cntlr,
.setup-pricing-created-account-sec .prising-yearly-cntlr{
	border-bottom: initial;
	padding: 25px 40px 35px 23px;
}