.setup-pro-form-title-cntlr {
    padding-top: 15px;
}
.setup-pro-form-title {
	color: #fa5252;
    margin-bottom: 12px;
}
.setup-pro-contant-sec .input-fields-cntlr{
	padding-bottom: 41px;
	margin-bottom: 30px;
}
.setup-pro-contant-sec .join-contant-cntlr{
	padding-bottom: 27px;
}
.join-contant-sec.setup-pro-contant-sec {
    padding-bottom: 83px;
}
.input-field-col .input-tol-tip{
	position: absolute;	
	top: 50%;	
	right: 34px;
	color: #c8c8c8;
	font-size: 20px;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	cursor: pointer;
	z-index: 21;
}
.input-tol-tip.tol-tip-cntlr .tol-tip-des{
    width:395px;
    opacity:1;
    height:auto;
    transform:translateY(0px);
    transition:.2s;
    z-index:9;
}
.input-tol-tip.tol-tip.tol-tip-cntlr:after{
    content: "\f0de"!important;
    position: absolute;
    left: -4px;
    font-family: 'FontAwesome';
    top: 100%;
    font-size: 50px;
    color: #fff;
    margin-top: 8px;
    z-index: 1111;
    display: block;
}
.setup-pro-contant-sec .input-field-col input{
	padding-right: 45px;
}
.setup-pro-contant-sec .tol-tip-des{
	right: 15px;
    top: 54px;
    left: initial;
}
@media(max-width: 1199px){
	.input-field-col .input-tol-tip{
		font-size: 18px;
	}
	.input-field-col .input-tol-tip{
		right: 30px;
	}
	.join-contant-sec.setup-pro-contant-sec {
	    padding-bottom: 70px;
	}
}
@media(max-width: 991px){
	.setup-pro-contant-sec .input-fields-cntlr {
	    padding-bottom: 35px;
	    margin-bottom: 25px;
	}
	.join-contant-sec.setup-pro-contant-sec {
	    padding-bottom: 60px;
	}
}
@media(max-width: 767px){
	.setup-pro-form-title-cntlr {
	    padding-top: 10px;
	}
	.setup-pro-contant-sec .join-contant-cntlr {
	    padding-bottom: 20px;
	}
	.input-field-col .input-tol-tip{
		right: 25px;
	}
	.input-field-col .input-tol-tip{
		font-size: 16px;
	}
	.join-contant-sec.setup-pro-contant-sec {
	    padding-bottom: 50px;
	    padding-top: 50px;
	}
	.input-tol-tip.tol-tip-cntlr .tol-tip-des{
		width: 350px;
	}
	.setup-pro-contant-sec .tol-tip-des {
	    top: 50px;
	}
}
@media(max-width: 575px){
	.setup-pro-contant-sec .input-fields-cntlr {
	    padding-bottom: 28px;
	}
}
@media(max-width: 479px){
	.input-tol-tip.tol-tip-cntlr .tol-tip-des{
		width: 330px;
	}
}