.setup-pro-form-title-cntlr {
    padding-top: 15px;
}
.setup-pro-form-title {
	color: #fa5252;
    margin-bottom: 12px;
}
.setup-pro-contant-sec .join-contant-inner{
	padding-bottom: 0px;
	margin-bottom: 0px;
	border: none;
}
.setup-pro-contant-sec .input-field-wrapper{
	padding-bottom: 41px;
	margin-bottom: 30px;
	border-bottom: 2px solid #e1e1e1;
}
.setup-pro-contant-sec .join-contant-cntlr{
	padding-bottom: 27px;
}
.join-contant-sec.setup-pro-contant-sec {
    padding-bottom: 83px;
}
.input-field-col .input-tol-tip{
	position: absolute;	
	top: 50%;	
	right: 34px;
	color: #c8c8c8;
	font-size: 20px;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	cursor: pointer;
	z-index: 8;
}
.input-tol-tip.tol-tip-cntlr .tol-tip-des{
    width:395px;
    opacity:1;
    height:auto;
    transform:translateY(0px);
    transition:.2s;
    z-index:9;
}
.setup-pro-contant-sec .input-field-col input{
	padding-right: 45px;
}

@media(max-width: 1199px){
	.input-field-col .input-tol-tip{
		font-size: 18px;
	}
	.input-field-col .input-tol-tip{
		right: 30px;
	}
}
@media(max-width: 991px){
	.setup-pro-contant-sec .input-field-wrapper {
	    padding-bottom: 35px;
	    margin-bottom: 25px;
	}
}
@media(max-width: 767px){
	.setup-pro-form-title-cntlr {
	    padding-top: 10px;
	}
	.setup-pro-contant-sec .join-contant-cntlr {
	    padding-bottom: 20px;
	}
	.input-field-col .input-tol-tip{
		right: 25px;
	}
	.input-field-col .input-tol-tip{
		font-size: 16px;
	}
}
@media(max-width: 575px){
	.setup-pro-contant-sec .input-field-wrapper {
	    padding-bottom: 28px;
	}
}